.logo-anchor {
  display: inline-block;
}

.header-parent {
  border-bottom: solid 1px #ccc;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}

.nav-link {
  text-decoration: none;
  color: #333;
  height: 100%;
  background: rgb(236, 236, 236);
  display: flex;
  border: solid 1px #ccc;
  border-bottom: none;
  width: 80px;
  justify-content: center;
  cursor: pointer;
}

.nav-link span {
  display: block;
  align-self: center;
}

.nav-ul {
  display: flex;
  list-style: none;
  width: 600px;
  justify-content: space-between;
}

.logo-anchor {
  display: block;
}

.logo {
  display: block;
  height: 45px;
}

.nav-li {
  height: 60px;
  display: flex;
  align-items: center;

}

.position-relative {
  position: relative;
}

.children {
  position: absolute;
  top: 100%;
  list-style: none;
  width: 130px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.child {
  background-color: tan;
  border-bottom: solid 1px #ccc;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

/* .child span {
  background-color: yellow;
  height: 100%;
  width: 100%;
} */